.box {

    width: 10 0px;
    margin: auto;
    margin-top: 50px;
}

.tabs {
    display: flex;
    justify-content: center;
}

.tab {

    padding: 10px;
    text-align: center;
    border-top: none;
    line-height: 1em;
    cursor: pointer;
    position: relative;
    width: 15%;
    font-size: 25px;
    margin-bottom: 20px;
}

.active-tab {
    border: none;
    background: #fff;

}

.active-tab::after {
    border-bottom: 2px solid #4285F4;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    background: initial;
    animation: new 0.5s;
}

@keyframes new {
    from {
        top: 50px;
        left: 0;
        right: 0;
        background: grey;
    }

    to {
        top: 0;
        right: 0;
        left: 0;
    }
}

.contents {
    position: relative;
}

.content {
    display: none;
    position: relative;
}

.active-content {
    display: block;
    margin-top: 10px;
    margin-left: 10px;
}